@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
:root {
  --yellow: #f9ce1d;
  --black: black;
  --lightgrey: #cccccc;
  --darkgrey: #747474;
  --white: #ffffff;
  --offwhite: #f1f1f1;
}
.adminNavContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 85vw;
  padding-bottom: 30px;
  padding-top: 40px;
}
@media only screen and (max-width: 768px) {
  .adminNavContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: -80px;
    width: 100vw;
  }
}

.adminNavUnselected {
  display: inline-block;
  margin: 10px;
  font-family: "Roboto", sans-serif !important;
  font-size: 20px;
  color: var(--darkgrey) !important;
  font-weight: bold !important;

  cursor: pointer;
  transition: text-decoration 1s;
}
.adminNavUnselected:hover {
  text-decoration: underline;
  text-decoration-color: var(--darkgrey);
}
.adminNavSelected {
  display: inline-block;
  margin: 10px;
  font-family: "Roboto", sans-serif !important;
  font-size: 20px;
  color: var(--black) !important;
  font-weight: bold !important;
  text-decoration: underline;
  text-decoration-color: var(--yellow);

  cursor: pointer;
}

.admin-section {
  width: 100%;
  height: 90vh;
  padding-left: 80px;
  padding-right: 80px;
}

.admin-info {
  margin-bottom: 25px;
}

.admin-info__icon {
  margin-right: 20px;
}

.featured-item-checkbox {
  margin-left: calc(2vw);
}
