@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
:root {
    --yellow: #f9ce1d;
    --black: black;
    --lightgrey: #cccccc;
    --darkgrey: #747474;
    --white: #FFFFFF;
    --offwhite: #F1f1f1;
}

.aboveTableContainer{
    min-width: 85vw;
    max-width: 85vw;
    padding-bottom: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.searchFilterContainer {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.menuAddButton {
    font-family: 'Roboto', sans-serif !important;
    background-color: var(--yellow) !important;
    border: 1px solid var(--yellow) !important;
    color: var(--black) !important;
    font-weight: bold !important;

    width: 150px;
    height: 50px;
}
.menuAddButtonIcon {
    color: var(--white) !important;
    margin-right: 10px;
}
.menuFilterSelect {
    margin: 0px;
    padding: 0px;
    margin-right: 40px;
    width: 200px;
    height: 50px;
}
.menuSearchBar {
    margin: 0px;
    padding: 0px;
    width: 200px;
    height: 50px;
}
.menuTableContainer {
    min-width: 900px;
    max-width: 85vw;
    max-height: 80vh;
    overflow: scroll;
    border: 2px solid var(--black);
}
.menuTableHeaders {
    font-size: 16px !important;
    font-weight: bold !important;
    font-family: 'Roboto', sans-serif !important;
}
.menuItemImage {
    border-radius: 10px;
    object-fit: cover;
    width: 150px;
    height: 150px;
}
.menuRowText {
    color: var(--darkgrey) !important;
    font-size: 16px !important;
    font-family: 'Roboto', sans-serif !important;
    font-weight: bold !important;
}

.oddrowbg{
    background-color: var(--white);
}
.evenrowbg{
    background-color: var(--offwhite);
}