.background {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1;
    top: 0;
    left: 0;
}

.cart-popup {
    width: 23vw;
    background-color: white;
    height: auto;
    overflow-x: hidden;
    position: fixed;
    top: 0;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    z-index: 2;
}

.date-picker {
    margin-left: 2vw;
}

.time-picker {
    margin-left: 2vw;
}

.summary-title {
    margin-top: 2vw;
}
.return-button {
    width: 21vw;
}

.item-info {
    font-size: 1vw;
    height: auto;
    width: 8vw;
    margin-top: 0.4vw;
    margin-bottom: 0.2vw;
}

.edit-button {
    margin-top: 1vw;
    height: 2vw;
    width: auto;
    color: #F9CE1D;
    border-radius: 0.5vw;
    background-color: white;
}

.remove-button {
    margin-top: 1vw;
    margin-left: 1vw;
    height: 2vw;
    width: auto;
    border-radius: 0.5vw;
    background-color: white;
}

.summary-item {
    font-size: 80%;
    width: 25vw;
    line-height: normal;
}

.summary-price {
    margin: 0.5vw 0vw auto 0.5vw;
    width: auto;
    float: inline-end;
}