.contact-wrapper 
{
  width: 100vw;
  display: grid;
}

.contact-form::-webkit-scrollbar
{
  width: 0px;
}

.contact-form
{
  display: grid;
  box-shadow: 2px 2px #e4e4e4;
  border: 5px solid #f9ce1d;
  margin-bottom: 20px;
  margin-top: 20px;
}

.contact-form-text h1
{
  font-weight: bolder;
}

.contact-form-text p 
{
  color: #8d8d8d;
}

.first-input 
{
  margin-top: 30px;
}

.contact-form-input 
{
  display: inline;
  border: 0px;
  border-bottom: 3px #8d8d8d solid;
  margin-bottom: 40px;
  width: calc(100% - 100px);
} 

.contact-form-submit 
{
  display: inline;
  justify-self: center;
  border: 0px;
  background-color: #f9ce1d;
  height: 30px;
  width: 150px;
  font-weight: bold;
  font-size: 20px;
  border-radius: 3px;
}

.contact-form-section
{
  display: grid;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.contact-form 
{
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: auto;
}

.info-label 
{
  margin: 0px;
}

.info-value 
{
  font-weight: bold;
}

@media only screen and (max-width: 1024px) 
{
  body 
  {
    overflow-x: hidden;
  }

  .contact-wrapper
  {
    grid-template-areas:
     "top"
     "bottom";
    grid-template-rows: auto 50vh;
    overflow-x: hidden;
  }

  .contact-form-text h1
  {
    font-size: 6vw;
    margin-top: 20px;
  }

  .contact-form-text p 
  {
    font-size: 4vw;
  }

  .contact-map-section
  {
    grid-area: bottom;
    height: 100%;
    width: 100vw;
    min-height: 50vh;
  }

  .contact-form-section 
  {
    display: grid;
    grid-area: top;
    width: 100%;
    overflow: auto;
    height: inherit;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
  }

  .contact-form 
  {
    justify-self: center;
    overflow: auto;
    width: calc(100% - 40px);
  }

  .contact-form form 
  {
    width: calc(100vw - 20px);
  }

  .info-wrapper
  {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media only screen and (min-width: 1025px) 
{
  .contact-wrapper
  {
    height: calc(100vh - 75px);
    grid-template-columns: 50vw 50vw;
  }

  .contact-map-section
  {
    height: 100%;
  }

  .contact-form 
  {
    min-height: calc(100% - 100px);
    width: calc(50vw - 100px);
  }

  .contact-form form 
  {
    width: 100%;
  }

  .contact-form-text 
  {
    width: 100%;
    width: calc(50vw - 120px);
  }

  .contact-form-submit
  {
    margin-bottom: 5px;
  }

  .info-wrapper
  {
    padding: 30px;
  }
}