.menu-section-wrapper 
{
  width: 100%;
  background-color: #f1f1f1;
}

.menu-section
{
  padding-top: 30px;
  max-width: 1200px;
  display: grid;
  grid-template-columns: 150px minmax(auto, 900px) 150px;
  min-height: 50vh;
  margin: 0 auto;
  padding-bottom: 30px;
}

.menu-filter-wrapper
{
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
}