.greyout 
{
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4px);
  z-index: 1;
  top: 0;
  left: 0;
}

.menu-item-popup 
{
  width: 975px;
  max-width: 90vw;
  background-color: white;
  max-height: 630px;
  overflow-x: hidden;
  position: fixed;
  top: 0;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 25px;
  z-index: 2;
}

.group-popup {
  display: flex;
  flex-direction: row;
}

.close-button 
{
  position: absolute;
  right: 2px;
  top: -8px;
  transform: rotate(45deg);
  font-size: 30px;
}

.close-button:hover
{
  cursor: pointer;
}

.left-popup {
  flex: 4;
  margin-right: 30px;
}

.popup-item-info {
  margin-top: 10px;
  margin-left: 20px;
}

.title-popup
{
  font-weight: bold;
  color: black;
  margin-bottom: 0px;
}

.desc-popup
{
  color: #747474;
}

.left-popup hr {
  background-color: #747474;
}

.dietary-info 
{
  color: #747474;
}

.section {
  margin-bottom: 10px;
}

.section-title 
{
  background-color: #CCCCCC;
  margin-bottom: 10px;
  padding: 2px 20px;
}

.section-title h3
{
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 0px;
  color: black;
}

.quantity-section .section-title {
  padding: 7px 20px;
}

.popup-image {
  position: relative;
  height: 65%;
  border-radius: 20px;
  background-size: 100%;
  background-position: center;
}

.popup-image-price {
  float: right;
  background-color: #CCCCCC;
  border-top-right-radius: 20px;
  width: 145px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.popup-image-price h3 {
  font-weight: bold;
  color: black;
}

.right-popup
{
  overflow: scroll;
  overflow-x: hidden;
  display: flex;
  flex: 3;
}

.right-popup::-webkit-scrollbar {
  display: none;
  width: 0px;
}

.choice-label 
{
  display: block;
  margin-bottom: 0px;
  margin-left: 20px;
}

.label-title 
{
  margin-left: 5px;
}

.hidden {
  display: none;
}

.size-info {
    width: 14px;
    height: 14px;
}

.instructions-note {
  margin-left: 20px;
  margin-bottom: 3px;
  font-size: 11px;
}

.instructions-textarea
{
  border-width:1px;
  margin-left: 20px;
  width: calc(100% - 40px);
}

.quantity-buttons 
{
  text-align: center;
  display: flex;
  justify-content: center;
  gap: 30px;
  margin: 5px 0px;
}

.quantity-number 
{
  min-width: 30px;
  font-weight: bold;
  font-size: 30px;
  transform: translateY(-15%);
  display: inline-block;
}

.button 
{
  border: 0px;
  color: white;
  border-radius: 17px;
  width: 34px;
  height: 34px;
  display: inline-flex;
  justify-content: center;
  font-size: 20px;
  font-weight: bold;
  align-items: center;
}

.button img {
  width: 100%;
  fill: white;
}

.decrease-button 
{
  background-color: rgb(247, 25, 16);
}

.increase-button 
{
  background-color: rgb(53, 224, 49);
}

.submit-order-button
{
  width: 100%;
  border: 0px;
  height: 45px;
  border-radius: 25px;
  background-color: black;
  color: white;
  font-weight: bold;
  font-size: 20px;
}

/* iPad Landscape ----------- */
@media only screen and (max-width : 1024px) {
  .menu-item-popup {
    width: 500px;
    height: 90vh;
    gap: 30px;
  }

  .group-popup {
    flex-direction: column;
  }

  .left-popup {
    margin: 0;
  }

  .popup-image {
    height: 250px;
  }
}

/* Galaxy Fold ----------- */
@media only screen and (max-width : 300px) {
    .instructions-note {
        margin-left: 0px;
    }

    .instructions-textarea {
        margin-left: 10px;
    }

    .submit-order-button {
        font-size: 16px;
        width: 70vw;
    }
  }