.menu-section-wrapper 
{
  width: 100%;
  background-color: #f1f1f1;
}

.menu-filter-wrapper
{
  align-items: center;
  height: 100%;
  width: 100%;
}

.menu-section
{
  padding-top: 30px;
  max-width: 1200px;
  display: grid;
  min-height: 50vh;
  margin: 0 auto;
  padding-bottom: 30px;
}

@media only screen and (max-width: 768px) 
{
  .menu-section
  {
    grid-template-columns: minmax(auto, 900px);
  }

  .menu-filter-wrapper
  {
    display: none;
  }

  .menu-cart 
  {
    display: none;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1022px) 
{
  .menu-section
  {
    grid-template-columns: 150px minmax(auto, 900px) 150px;
  }
}

@media only screen and (min-width: 1023px)
{
  .menu-section
  {
    grid-template-columns: 150px minmax(auto, 900px) 150px;
    margin-top: 55px;
  }
}