/* 
* Header file for the NavBar styling. This contains all CSS related to
* The Navbar for Desktop/Tsblet/Mobile.
*
* Couple notes:
* 1) NavBar is collapsable.
* 2) Cart Icon shows up only for screen width < 1350
*
*/

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400&display=swap');

:root {
    --yellow: #f9ce1d;
    --black: black;
    --lightgrey: #CCCCCC;
    --darkgrey: #747474;
    --white: #FFFFFF;
    --offwhite: #F1f1f1;
}

.navbar-brand {
    padding-left: 0;
}


.brand-name {
    display: inline-block;
    color: #ffdf69;
    font-family: 'Roboto Slab', serif;
    margin-left: calc(-10px);
    cursor: pointer;
}

.navbar-brand .brand-name p {
    font-size: calc(28px);
    font-style: italic;
    font-family: 'Roboto Slab', serif;
}

.navbar.navbar-bg-color {
    max-height: calc(75px);
}

.navbar-nav {
    padding-right: 1em;
}

.cart-icon, .cart-icon-smaller-desktop {
    display: none;
}

.navbar-bg-color { 
    background-color: rgb(51,51,51);
}

.nav-link {
    margin: .25em 1em;
    color: white !important;
    font-size: 20px;
}

.nav-link:hover {
    color: #F9CE1D !important;
}

.active {
    color: #F9CE1D !important;
}

.cart-icon-container {
    display: none;
}

@media only screen and (min-width: 1200px)  and (max-width: 1349px) {
    .navbar-brand {
        padding-left: 0;
    }

    .navbar.navbar-bg-color {
        max-height: auto;
    }

    .cart-icon {
        display: none;
    }

    .cart-icon-smaller-desktop {
        display: inline-block;
        transform: scale(1.25);
        -webkit-transform: scale(1.25);
        margin-right: calc(0.5vw);    
    }
}

@media only screen and (min-width: 944px) and (max-width: 1199px) {
    .navbar-brand {
        padding-left: 0;
        padding-right: calc(1vw);
        position: relative;
    }

    .navbar.navbar-bg-color {
        max-height: none;
    }

    .cart-icon-container {
        display: inline-block;
    }

    .cart-icon {
        display: inline-block;
        text-align: right;
        transform: scale(2);
        -webkit-transform: scale(2);
    }

    .cart-icon-smaller-desktop {
        display: none;  
    }
}

@media only screen and (min-width: 767px) and (max-width: 945px) {
    .navbar-brand {
        padding-left: 0;
        padding-right: calc(1vw);
        position: relative;
    }

    .brand-name {
        position: relative;
    }

    .navbar.navbar-bg-color {
        max-height: none;
    }

    .cart-icon-container {
        display: inline-block;
    }

    .cart-icon {
        display: inline-block;
        width: calc(55%);
        text-align: right;
        transform: scale(1.25);
        -webkit-transform: scale(1.25);   
    }

    .cart-icon-smaller-desktop {
        display: none;  
    }
}


@media only screen and (max-width: 767px) {
    .cart-icon {
        width: calc(50%);
    }
    .navbar-brand {
        padding-left: 0;
    }
}

@media only screen and (max-width: 532px) {
    .cart-icon {
        width: calc(44%);
    }
    .navbar.navbar-bg-color {
        max-height: none;
    }
}

@media only screen and (max-width: 400px) {
    .cart-icon {
        width: calc(37%);
    }
    .navbar.navbar-bg-color .desktop-tabs, .cart-icon-smaller-desktop {
        display: none;
    }

    .brand-name {
        display: none;
    }

    .cart-icon-container {
        display: inline-block;
    }

    .cart-icon {
        width: calc(29%);
    }
}

@media only screen and (max-width: 280px) {
    .cart-icon {
        width: calc(25%);
        display: inline-block;
        text-align: right;
        transform: scale(2);
        -webkit-transform: scale(2);
    }
}