/* 
* Header file for the NavBar styling. This contains all CSS related to
* The Navbar for Desktop/Tsblet/Mobile.
*
* Couple notes:
* 1) NavBar is collapsable.
* 2) Cart Icon shows up only for screen width < 1350
*
*/

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400&display=swap');

:root {
    --yellow: #f9ce1d;
    --black: black;
    --lightgrey: #CCCCCC;
    --darkgrey: #747474;
    --white: #FFFFFF;
    --offwhite: #F1f1f1;
}

.navbar-brand {
    padding-left: 1em;
}

.brand-name {
    display: inline-block;
    font-size: calc(20px);
    text-align: center;
    justify-content: center;
    color: #ffdf69;
    font-family: 'Roboto Slab', serif;
    margin-left: calc(-15px);
    margin-top: calc(2vh);
    cursor: pointer;
}

.brand-name a {
    color: #ffdf69;
    text-decoration: none;
}

.brand-name a:hover {
    text-decoration: none;
    color: #ffdf69;
}

.brand-name p {
    font-size: calc(28px);
    font-style: italic;
    font-family: 'Roboto Slab', serif;
}

.navbar.navbar-bg-color {
    max-height: calc(75px);
}

.navbar-nav {
    padding-right: 1em;
}

.cart-icon, .cart-icon-smaller-desktop {
    display: none;
}

.navbar-bg-color { 
    background-color: rgb(51,51,51);
}

.nav-link {
    margin: .25em 1em;
    color: white !important;
    font-size: 20px;
}

.nav-link:hover {
    color: #F9CE1D !important;
}

.active {
    color: #F9CE1D !important;
}

@media only screen and (min-width: 767px) and (max-width: 1349px) {
    .cart-icon-smaller-desktop {
        display: inline-block;
        transform: scale(1.7);
        -webkit-transform: scale(1.7);
        margin-right: calc(0.5vw);    
    }
}

@media only screen and (max-width: 1024px) 
{
    .navbar-brand {
        padding-left: 0;
    }

    .navbar.navbar-bg-color {
        max-height: auto;
    }

    /* .navbar.navbar-bg-color .desktop-tabs {
        display: none;
    } */

    .brand-name {
        margin-left: calc(-10px);
    }
    
    .brand-name p {
        font-size: calc(28px);
    }

    .cart-icon {
        display: none;
    }
}


@media only screen and (max-width: 767px) 
{
    .navbar-brand {
        padding-left: 0;
    }
    .navbar.navbar-bg-color {
        max-height: none;
    }

    .navbar.navbar-bg-color .desktop-tabs, .cart-icon-smaller-desktop {
        display: none;
    }

    .brand-name {
        display: none;
    }

    .cart-icon {
        display: inline-block;
        width: calc(34%);
        text-align: right;
        transform: scale(2);
        -webkit-transform: scale(2);
    }
}

/* Adjusts the distance between the hamburger and cart icon at different levels */
@media only screen and (max-width: 610px) 
{
    .cart-icon {
        width: calc(30%);
    }
} 

@media only screen and (max-width: 532px) 
{
    .cart-icon {
        width: calc(23%);
    }
} 

@media only screen and (max-width: 400px) 
{
    .cart-icon {
        width: calc(18%);
    }
} 

@media only screen and (max-width: 300px) 
{
    .cart-icon {
        width: calc(10%);
    }
} 