:root {
    --yellow: #f9ce1d;
    --black: black;
    --lightgrey: rgb(241, 241, 241);
}

.orders-table {
    width: calc(100%);
    margin-top: calc(4vh);
    display: flex;
    justify-content: center;
}

.justify-table-center {
    width: calc(95%);
}

/* Sets the background color for the toolbar at the top */
#root > div > div > div > div > div.MuiToolbar-root.MuiToolbar-regular.MUIDataTableToolbar-root-100.MuiToolbar-gutters {
    background-color: var(--yellow);
}

/* Sets the background color for the table header column */
#root > div > div > div > div > div.MUIDataTable-responsiveBase-92 > table > thead > tr > th {
    background-color: var(--yellow);
    font-weight: 700;
}

/* Sets the background color for the header in the dropdown row */
#root > div > div > div > div > div.MUIDataTable-responsiveBase-92 > table > tbody > tr > td > div > table > tbody {
    background-color: var(--lightgrey);
}

/* Sets the background color for the rows in the dropdown row */
#root > div > div > div > div > div.MUIDataTable-responsiveBase-92 > table > tbody > tr > td > div > table > thead {
    background-color: var(--lightgrey);
}

/* The background color and styling for the filters */
#root > div > div > div > div > div.MUIDataTableFilterList-root-119 {
    background-color: var(--yellow);
    margin-left: 0;
    padding-left: calc(1vw);
    width: 100%;
}