.search-section 
{
  width: 100vw;
  height: 100%;
}

.header-img 
{
  display: flex;
  align-items: center;
  position: relative;
  object-fit: cover;
  object-position: center center;
  height: calc(50vh - 70px);
  width: 100%;
}

@media only screen and (min-width: 768px) 
{
  .navbar-wrapper nav {
      position: fixed !important;
      width: 100%;
      z-index: 1;
  }

  .search-section
  {
    position: relative;
    top: 65px;
  }
}