.search-section 
{
  width: 100%;
  height: 100%;
}

.header-img 
{
  display: flex;
  align-items: center;
  position: relative;
  object-fit: cover;
  object-position: center center;
  width: 100%;
}

.header-img {
  height: calc(50vh - 70px);
}

@media only screen and (min-width: 1200px) {
  .navbar-wrapper nav {
    position: fixed !important;
    width: 100%;
    z-index: 1;
  } 

  .header-img {
    height: 50vh;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1199px)
{
  .search-section
  {
    position: relative;
    top: 0px;
  }
}